before_install:
    # init xvfb
    # http://docs.travis-ci.com/user/gui-and-headless-browsers/
    - export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start
branches:
    only:
    - alpha
    - beta
    - cron
    - docker.base
    - docker.electron
    - docker.latest
    - docker.tmp
    - master
    - publish
    - task
env:
    global:
    # this value is auto-created by shTravisCryptoAesEncryptYml
    - secure: LHiIQa7ONuhEFuBatPTvR/qb4M1Miw/IIDQDmjp1BvlMGS6pT0G9io3GgGRipIOfCm39nqnJpa5cysswfNaUrovYG4/oSYxxM385fcpOMMYY+zfcTgATFsJVkSbC7I7usxNskH2cps7ci3Clg8iwc0h1RP3tTqrCbKbjwcSkuhGj0gk9Y6BQBu6vNDZ4fbe8SSPkdzWtA3mTwyfwj2x0G5Gd8+MRii2ddT1t503JbjCEWL8UjlcGAdm/g9OBObhb325PDbkSoD3TY7x7Spd2qwcGZihzOQmXIp386ondTV2ABTHbbylOPXEqAEi1brTvs1aOvuPwtZ0OFDmz2tn0sN8sYeJZyOKGn8LaqepqZpNWsnoo29acKq0uBoCqtLuM+Ha6OH2z4jEikhCgSuSZbaRL4Zrm7E714GZWUSU9tlkgG68wy/8g7x/FKnI1JLSXW86ppkSMowEIERHrUDGmm1Nt7BaiLOn5F2enj02Mj3GDXANEQz0sIN2/CTLwP9CLG76Njp1ebWH9qlCPZx+5HaJbZsBbL5Trg6fCqDkpTZV41rOdMcm9YSjZS9cWqgnTWuuzY462WsIPmhJVMaz4u+jHOQ4FTarEOtSmw6U8wfvqZrgpGAhHg9v9VwTodcD79jaHVRtYdUM2S67XVFUdygyWdF2HW0hBWOJjVC9oleo= # CRYPTO_AES_KEY
language:
    - node_js
node_js:
    - 6
    # - node
script:
    - npm run build-ci
services:
    - docker
# http://docs.travis-ci.com/user/workers/container-based-infrastructure
sudo:
    false
